
.logo {
    text-align: right;
    padding: 10px;
    border: 5px solid black;
    background-color: rgb(43, 37, 37);
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

header a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.lot {
    border: 2px solid rgb(31, 5, 5);
    background-color: rgb(68, 63, 58);
}

input, button {
    padding: 8px;
    border-radius: 4px;
    margin: 10px;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th, td {
    border: 2px solid black;
    padding: 12px;
}

th:hover {
    background-color: aliceblue;
}

.logo img {
    width: 8%;
    height: 8%;
    border-radius: 50%;
    object-fit: cover;
}

footer {
    background-color: rgb(41, 35, 35);
    color: white;
    text-align: center;
    padding: 10px;
}

.bay {
    text-align: center;
}
